body{
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.convite{
    max-width: 500px;
}
.abrir{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: transparent;
    top: 57%;
    left: 48%;
    border-radius: 100%;
    border: transparent;
}