body{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.convite{
    width: 99vw;
    height: 99vh;
    object-fit: contain;
    padding: 0;
    margin: 0;
}
.abrir{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: transparent;
    top: 57.7%;
    left: 48%;
    border-radius: 100%;
    border: transparent;
}
.inf-carta-aberta{
    position: absolute;
    display: flex;
    bottom: 1.7%;
    left: 36.5%;
    gap: 10px;
}
.inf{
    background-color: transparent;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: transparent;
    
}